.film-card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.film-poster {
  width: 100%;
  margin-bottom: 24px;

  border-radius: 20px;

  object-fit: cover;
}

.title {
  margin-bottom: 4px;

  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.theme--light .title {
  color: #242426;
}

.title:hover {
  color: #7b61ff;
  cursor: pointer;
}

.genre {
  color: #afb2b6ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.theme--light .genre {
  color: #afb2b6;
}

@media (max-width: 768px) {
  .film-poster {
    margin-bottom: 20px;
  }
}
