.button {
  padding: 16px;

  border: none;
  border-radius: 10px;

  color: #fff;
  font-size: 16px;
  font-weight: 600;

  background: #323537ff;
  cursor: pointer;
}

.button:hover {
  background: #323537ff;
}

.submit-btn {
  background: #7b61ffff;
}

.submit-btn:hover {
  background: #917cffff;
}

.button--disabled {
  border: 2px solid #323537;

  color: #80858bff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;

  background: #242426ff;
}
