.logo {
  width: 158px;
  height: 40px;
}

@media (max-width: 768px) {
  .logo {
    width: 162px;
    height: 42px;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 152px;
    height: 39px;
      text-align: center;
  }
}
