.navigation {
  padding: 16px 15px;
  width: 266px;
  position: absolute;
  left: 0;
  top: 126px;
}

.navigation__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.navigation__item {
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  gap: 20px;

  font-size: 18px;
  font-weight: 600;
}

.navigation__item:last-child {
  margin-bottom: 0;
}

.navigation__item path {
  fill: #80858b;
}

.navigation__item:hover path {
  fill: #7b61ff;
}

.navigation__link {
  color: #80858b;
  text-decoration: none;
}

.navigation__item:hover .navigation__link {
  color: #7b61ff;
}

@media (max-width: 1280px) {
  .navigation {
    padding-left: 75px;
    opacity: 0;
    visibility: hidden;
    left: unset;
    right: 0;
    transform: translateX(236px);
    transition: 0.8s all ease-in-out;
  }

  .navigation--opened {
    position: fixed;
    height: 100vh;
    background-color: #000;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }

  .theme--light .navigation--opened {
    background-color: #fff;
  }
}

@media (max-width: 786px) {
  .navigation {
    top: 114px;
  }
}
