.header {
  width: 100%;
  padding: 40px 15px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.search__wrapper {
  position: relative;
  flex: 1;
}

.search {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 10px;

  flex: 1;

  color: #80858bff;
  font-size: 16px;
  font-weight: 500;

  background: #323537ff;
}

.theme--light .search {
  border: 2px solid #afb2b6ff;
  background: #fff;
}

.search::placeholder {
  color: #80858bff;
  font-size: 16px;
  font-weight: 500;
}

.filter-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.filter-button svg path {
  fill: #afb2b6;
}

.header--authorized {
  background-color: #000;
}

.theme--light .header--authorized {
  background-color: #fff;
}

.filtration {
  position: absolute;
  right: 16px;
  top: 16px;
}

.theme--light .header--authorized .logo path:nth-child(n + 4) {
  fill: #000;
}

@media (max-width: 1024px) {
  .logo {
    width: 162px;
    height: 52px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 152px;
    height: 39px;
  }

  .search {
    order: 3;
  }

  .header {
    flex-direction: column;
    display: flex;
    align-items: unset;
    justify-content: center;
    flex: 1;
  }
}
